.footer {


    .contact {
        display: none;

        @include media-up(md) {
            display: grid;
        }

        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        background-color: $secondary-color;
        border-top: 3px solid $main-color;
        margin-bottom: 35px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 0% 0% 25% 27% / 10% 10% 32% 36%;

        .inner-contact {
            display: none;
            flex-direction: column;

            @include media-up(md) {
                flex-direction: row-reverse;
                display: flex;
            }

            justify-content: center;
            align-items: center;


            align-items: center;
            gap: 20px;

            h5 {
                color: rgb(19, 70, 63);
                font-weight: 800;
                font-size: 18px;
            }

            a {
                color: $main-color;

                i {
                    font-size: 35px;
                    transition: 0.3s;

                    &:hover {
                        transform: translatey(5px);
                    }
                }

            }
        }

        div:nth-child(2):not(:last-child) {
            border-left: 1px solid $main-color;
            border-right: 1px solid $main-color;
        }
    }

    background-image: url(/assets/images/background/footer-background.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-position:center;
    background-size: cover;
    padding-bottom: 30px;

    .inner-footer {
        width: 100%;
        margin: 0 auto;
        padding-top: 50px;
        justify-items: center;
        align-items: center;

        @include media-up(md) {
            padding-top: 0;
            justify-items: stretch;
            text-align: start;

        }

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        text-align: center;


        .logo {
            width: 150px;
            height: 120px;
            object-fit: cover;


        }

        h3 {
            color: wheat;

        }

        p {
            color: whitesmoke;
            font-size: 14px;
            margin-top: 15px;
            width: 100%;
        }

        a {
            color: whitesmoke;
            position: relative;


            &::after {
                content: "";
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 0;
                height: 2px;
                transition: width 0.3s ease;
                background-color: $secondary-color;
            }

            &:hover::after {
                width: 100%;
            }
        }



        li {
            margin-bottom: 15px;
            border-bottom: 1px dotted #eeeeee21;
            width: 100%;




        }

        form {
            display: flex;
            flex-direction: column;
            padding-bottom: 30px;

            input {
                height: 50px;
                border: none;
                outline: none;
                border-radius: 5px;
                margin-bottom: 15px;
                margin-top: 15px;
                text-align: center;

                padding: 10px;
                font-family: cairo;
            }

            .icons {
                @include media-up(md) {
                    @include flexbox(space-between, center, row);

                }

                display: none;
                gap: 15px;
                font-size:30px;
                transition: color 0.3s ease,
                transform 0.3s ease;
                margin-top: 15px;

                i {
                    color: $primary-color;

                    &:hover {
                        color: $secondary-color;
                        scale: 1.1;
                    }
                }

            }
        }
    }
}